---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <ul>
    {% for item in site.menus.header %}
      <li class="menu-item-{{ loop.index }}">
        <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        {% if item.children %}
          <ul class="sub-menu">
          {% for item in item.children %}
            <li class="menu-item-{{ loop.index }}">
              <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {{ content }}
  
  <form name="contact" netlify>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" /></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>